.side_bar
  .side_bar__user
    .side_bar__user-name
      .side_bar__user-name-left
        %p masa
      .side_bar__user-name-right
        .side_bar__user-name-right-edit
          = link_to "#" do
            = icon('far', 'edit')
        .seid_user-name-right-cog
          =link_to "#" do
            = icon('fas', 'cog')
  .side_bar__group
    .side_bar__group-name
      %p tech::camp
    .side_bar__group-message  
      %p まだメッセージはありません
  .side_bar__group
    .side_bar__group-name
      %p tech::expart
    .side_bar__group-message  
      %p まだメッセージはありません
  .side_bar__group
    .side_bar__group-name
      %p tech::note
    .side_bar__group-message  
      %p まだメッセージはありません


