* {
  box-sizing: border-box;
}
.wrapper {
  display:flex;
  height: 100vh;
  width: 100vw;

  a {
    text-decoration: none;
  }
  
  .side_bar {
    background-color:#2f3e51;
    height:100vh;
    width:300px;
    &__user {
      height: 100px;
      width:300px;
      background-color: #253141;
      position: relative;
      &-name {
        width: 260px;
        height: 20px;
        background-color: #253141;
        position: absolute;
        top: 50%;
        transform:translateY(-50%);
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
        &-left {
          height: 20px;
          color: #ffffff;
          font-size: 16px;
          font-weight: bold;
          line-height: 20px;
        }
        &-right {
          height: 20px;
          width: 60px;
          line-height: 20px;
          display: flex;
          justify-content: flex-end;
          &-edit {
            margin-right: 5px;
          }
          .far {
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            color: #ffffff;
          }
          &-cog {
          }
          .fas {
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            color:#ffffff;
          }
        }
      }
    }
    &__group {
      width: 300px;
      height: 91px;
      .group {
        text-decoration: none;
        &__name {
          height: 15px;
          width: 260px;
          color: #ffffff;
          margin: 20px 20px 5px 20px;
          font-size: 15px;
          line-height: 15px;
        }
        &__message {
          color: #ffffff;
          margin: 0px 20px 40px 20px;
          font-size: 11px;
        }
      }
    } 
  } 
  
  .main_chat {
    background-color:#ffffff;
    height:100vh;
    width: calc(100vw - 300px);
    &__group {
      background-color: #ffffff;
      height: 100px;
      width:calc(100vw - 300px);
      border-bottom: 1px solid #eeeeee;
      display: flex;
      justify-content: space-between;
      &-name {
        height:100px;
        color: #333333;
        font-size: 20px;
        padding:35px 0px 15px 40px;
        line-height: 35px;
        position: relative;
        &-member {
        color:#999999;
        font-size: 12px;
        bottom: 0;
        }
      }
      &-edit {
        height: 100px;
        &-btn{
          width: 72px;
          height: 40px;
          font-size: 16px;
          border: solid 1px #38aef0;
          padding: 0px 20px;
          margin-top: 28px;
          margin-right: 40px;
          line-height: 40px;
          a:-webkit-any-link {
            color: #38aef0;
            cursor: pointer;
            text-decoration: none;
          }
        } 
      }
    }

    &__list {
      background-color: #fafafa;
      height: calc(100% - 190px);
      width:calc(100vw - 300px);
      padding-top: 40px;
      padding-left: 40px;
      overflow-y: scroll;
      .message {
        padding-bottom: 40px;
        .upper-message {
          display: flex;
          margin-bottom: 10px;
          .upper-message__user-name {
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }
          .upper-message__date {
            color: #999999;
            font-size: 12px;
            margin-left: 10px;
          }
        }
        &-lower-message { 
          margin-bottom: 10px;
          &__content{
            color: #434a54;
            font-size: 14px;
          }
        }
      }
    } 
    &__message {
      height: 90px;
      padding: 20px 40px;
      background-color: #ddd;
      .new_message {
        width: 100%;
        display: flex;
        .input {
          position: relative;
          width: 100%;
          .form__message {
            width: 100%;
            height: 50px;
            padding: 0 40px 0 10px;
            color: #434a54;
            border-style: none;
          }
        }
        .form__mask {
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          .form__mask__image {
            display: inline-block;
            .icon {
            }
            .hidden {
            display: none;
            }
          }
        }
      }
      .form__submit{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
      }
    }
  }    
}




